[Desktop Entry]
Version=1.0
Type=Application
Categories=Game;
StartupNotify=true
Terminal=false
Name=Machinarium
Icon=machinarium
Exec=machinarium
#Exec=/opt/machinarium/Machinarium
Path=/opt/machinarium
